@import "tailwindcss";
@import "tw-animate-css";

@plugin '@egoist/tailwindcss-icons';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  logs: false;
  /* https://github.com/saadeghi/daisyui/issues/3882 */
  exclude: properties;
};

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-mono: "Intel One Mono Variable", monospace;
};

@theme inline {
  --animate-meteor-effect: meteor 5s linear infinite;
  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
};


.input,
.textarea,
.select {
  /* Eliminate the ugly daisyUI built-in input outline */
  outline-offset: -1px;
}
