@import "tailwindcss";
@import "tw-animate-css";

@plugin '@egoist/tailwindcss-icons';
@plugin "daisyui" {
  themes: all;
  logs: false;
}

@theme {
  --font-sans: "Montserrat Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  --font-brand: "Belanosima", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  --font-mono: "Intel One Mono Variable", ui-monospace, monospace;
}
