@import "tailwindcss";
@import "tw-animate-css";

@plugin '@egoist/tailwindcss-icons';
@plugin "daisyui" {
  themes: all;
  logs: false;
}

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
